<!DOCTYPE html>
 <html lang="en">
     <head>
         <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1"> 

         <meta name="author" content="Shreya Nagabhirava and Fardeen Khan">
         <meta name="description" content="info page">
         <meta name="keywords" content="info page">
        <title>Title</title>
        <link rel="stylesheet" href="../styles/yourlistings.css">
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const handleAddToFavs = (event) => {
                    const container = event.target.closest('.listingContainer');
                    container.style.backgroundColor = 'yellow';
                };

                const favButtons = document.querySelectorAll('.add-to-favorites');
                favButtons.forEach((button) => {
                    button.addEventListener('click', handleAddToFavs);
                });
            });
            
        </script>
    </head>  
     <body>
        <div class="topbar"> <!-- this section includes the site's title and navigation bar -->
            <div class="title">
                <span>Apartment Search and Review</span>
            </div>
            <div class="nav-container">
                <nav>
                    <ul class="nav-list">
                        <li><a href="search.php">Apartment Search</a></li>
                        <li><a href="yourlistings.html">My Profile</a></li>
                        <li><a href="yourlistings.html">My Listings</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div>
            <header>
                <div class="logo">
                    <img src="../images/logo.png" alt="apartment search logo">
                </div>
                <div class="searchbar">
                    <input type="search" placeholder="Search Your Listings">
                </div>
                <div class="profile"> <!-- the user's profile picture -->
                    <a href="yourlistings.html">
                        <img class="profile" src="../images/profile.png" alt="logo">
                    </a>
                </div>
            </header>
        </div>
        <div class="actions">
            <button type="button" onclick = "window.location.href='newlisting.php';">Add a Listing</button> 
            <button type="button" onclick = "window.location.href='search.php';">Find Other Listings</button> 
        </div>
        
        <main>
            <div class="container">
                <div class="listingContainer">
                    <a href="listinfo.html">
                        <div class="listing">
                            <img class="listingimg" src="../images/condo-vs-apartment.jpeg.webp" alt="apartment pic">
                            <p class="title">4 bedroom apartment</p>
                            <p class="locn">Charlottesville, VA</p>
                            <p>* _ _ _ _</p>
                            <p class="list-desc">Description, pets allowed, pool accesss</p>
                        </div>  
                    </a>
                    <button class="add-to-favorites">Add to Favorites</button>       
                </div>
                <div class="listingContainer">
                    <a href="listinfo.html">
                        <div class="listing">
                            <img class="listingimg" src="../images/condo-vs-apartment.jpeg.webp" alt="apartment pic">
                            <p class="title">4 bedroom apartment</p>
                            <p class="locn">Charlottesville, VA</p>
                            <p>* _ _ _ _</p>
                            <p class="list-desc">Description, pets allowed, pool accesss</p>
                        </div>  
                    </a>
                    <button class="add-to-favorites">Add to Favorites</button>       
                </div>
                <div class="listingContainer">
                    <a href="listinfo.html">
                        <div class="listing">
                            <img class="listingimg" src="../images/condo-vs-apartment.jpeg.webp" alt="apartment pic">
                            <p class="title">4 bedroom apartment</p>
                            <p class="locn">Charlottesville, VA</p>
                            <p>* _ _ _ _</p>
                            <p class="list-desc">Description, pets allowed, pool accesss</p>
                        </div>  
                    </a>
                    <button class="add-to-favorites">Add to Favorites</button>       
                </div>
                <div class="listingContainer">
                    <a href="listinfo.html">
                        <div class="listing">
                            <img class="listingimg" src="../images/condo-vs-apartment.jpeg.webp" alt="apartment pic">
                            <p class="title">4 bedroom apartment</p>
                            <p class="locn">Charlottesville, VA</p>
                            <p>* _ _ _ _</p>
                            <p class="list-desc">Description, pets allowed, pool accesss</p>
                        </div>  
                    </a>
                    <button class="add-to-favorites">Add to Favorites</button>       
                </div> 
                
            </div>            

        </main>
       
        <div>
            <footer class="primary-footer">
                <small class="copyright">&copy; 2023 fardeen khan. All rights reserved.</small>
            </footer>
        </div>
     </body>
 </html>